<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stych.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".StychApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StychApp">
        <activity
            android:name=".profile.contactus.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start.resetpassword.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.transparent.TransparentMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".home.lifefilelist.LifeFileListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.subscription.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.changeemail.ChangeEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.transferlifefile.TransferALifeFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start.thankyouforsignup.ThankYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start.signup.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.MainActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>